/* Li Bhasa 52 Unicode Regular */
@font-face {
    font-family: 'Li Bhasa 52 Unicode';
    font-style: normal;
    font-weight: 400;
    src: url('../file/LiBhasa52-Regular.eot');
    src: url('../file/LiBhasa52-Regular.eot?#iefix') format('embedded-opentype'),
         url('../file/LiBhasa52-Regular.woff2') format('woff2'),
         url('../file/LiBhasa52-Regular.woff') format('woff'),
         url('../file/LiBhasa52-Regular.ttf') format('truetype'),
         url('../file/LiBhasa52-Regular.svg#LiBhasa52Unicode') format('svg');
}

/* Li Bhasa 52 Unicode Italic */
@font-face {
    font-family: 'Li Bhasa 52 Unicode';
    font-style: italic;
    font-weight: 400;
    src: url('../file/LiBhasa52-Italic.eot');
    src: url('../file/LiBhasa52-Italic.eot?#iefix') format('embedded-opentype'),
         url('../file/LiBhasa52-Italic.woff2') format('woff2'),
         url('../file/LiBhasa52-Italic.woff') format('woff'),
         url('../file/LiBhasa52-Italic.ttf') format('truetype'),
         url('../file/LiBhasa52-Italic.svg#LiBhasa52UnicodeItalic') format('svg');
}
